<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.BTServer.allowRestrictedServices</key>
	<true/>
	<key>com.apple.BTServer.appleMfgDataScanner</key>
	<true/>
	<key>com.apple.BluetoothServices</key>
	<true/>
	<key>com.apple.DeviceDiscovery.system-app</key>
	<true/>
	<key>com.apple.NeighborhoodActivityConduitService</key>
	<true/>
	<key>com.apple.RemoteDisplay</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCDynamicStore-write-access</key>
	<true/>
	<key>com.apple.TapToRadarKit.service-access</key>
	<true/>
	<key>com.apple.accessibility.api</key>
	<true/>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-custom-playpause</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-custom-volume</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-now-playing-presentation</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-sleep</key>
	<true/>
	<key>com.apple.appletv.pbs.app-info-service-access</key>
	<true/>
	<key>com.apple.appletv.pbs.assertion-domains</key>
	<array>
		<string>SuppressVPNBulletin</string>
		<string>ControlCenterFullScreenOverlay</string>
		<string>SuppressVolumeHUD</string>
	</array>
	<key>com.apple.appletv.pbs.display-manager-service-access</key>
	<true/>
	<key>com.apple.appletv.pbs.overlay-layout-service-access</key>
	<true/>
	<key>com.apple.appletv.pbs.scheduled-sleep-service-access</key>
	<true/>
	<key>com.apple.appletv.pbs.user-presentation-service-access</key>
	<true/>
	<key>com.apple.appletv.pbs.user-profiles</key>
	<true/>
	<key>com.apple.appletv.pbs.user-profiles.select</key>
	<true/>
	<key>com.apple.avfoundation.allow-system-wide-context</key>
	<true/>
	<key>com.apple.avfoundation.allows-access-to-device-list</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.coreaudio.app-tap</key>
	<true/>
	<key>com.apple.coreaudio.private.SystemWideTap</key>
	<true/>
	<key>com.apple.developer.device-information.user-assigned-device-name</key>
	<true/>
	<key>com.apple.developer.homekit</key>
	<true/>
	<key>com.apple.developer.homekit.background-mode</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.frontboardservices.display-layout-monitor</key>
	<true/>
	<key>com.apple.homekit.private-spi-access</key>
	<true/>
	<key>com.apple.idle-timer-services</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled-access</key>
	<true/>
	<key>com.apple.mediaremote.device-info</key>
	<true/>
	<key>com.apple.mediaremote.remote-control-discovery</key>
	<true/>
	<key>com.apple.private.attentionawareness</key>
	<true/>
	<key>com.apple.private.avfoundation.capture.hidden-cameras.allow</key>
	<true/>
	<key>com.apple.private.cmcapture.frame-receiver</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.homekit</key>
	<true/>
	<key>com.apple.private.homekit.allow-secure-access</key>
	<true/>
	<key>com.apple.private.homekit.cameraclips</key>
	<true/>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.private.networkextension.configuration</key>
	<true/>
	<key>com.apple.private.replay-kit</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceWillow</string>
		<string>kTCCServicePhotos</string>
		<string>kTCCServiceBluetoothAlways</string>
		<string>kTCCServiceMicrophone</string>
		<string>kTCCServiceCamera</string>
	</array>
	<key>com.apple.runningboard.assertions.angeltarget</key>
	<true/>
	<key>com.apple.runningboard.assertions.frontboard</key>
	<true/>
	<key>com.apple.runningboard.primitiveattribute</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/mobile/Library/ReplayKit/</string>
		<string>/private/var/containers/</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/private/var/mobile/Library/Application Support/com.apple.TVSettings/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.RemoteDisplay</string>
		<string>com.apple.systemstatus</string>
		<string>com.apple.AttentionAwareness</string>
		<string>com.apple.BluetoothServices</string>
		<string>com.apple.TVSystemUIService.banners</string>
		<string>com.apple.NeighborhoodActivityConduitService</string>
		<string>com.apple.telephonyutilities.callservicesdaemon.conversationmanager</string>
		<string>com.apple.telephonyutilities.callservicesdaemon.callstatecontroller</string>
		<string>com.apple.accessibility.AXBackBoardServer</string>
		<string>com.apple.replayd</string>
		<string>com.apple.SharingServices</string>
		<string>com.apple.TapToRadarKit.service</string>
		<string>com.apple.coremedia.endpointpicker.xpc</string>
		<string>com.apple.coremedia.routediscoverer.xpc</string>
		<string>com.apple.coremedia.routingcontext.xpc</string>
		<string>com.apple.managedconfiguration.profiled</string>
	</array>
	<key>com.apple.security.exception.mach-register.global-name</key>
	<array>
		<string>com.apple.TVSystemUIService.banners</string>
	</array>
	<key>com.apple.security.exception.process-info</key>
	<true/>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.TVSystemMenuService</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.bannerkit</string>
		<string>com.apple.appletvservices</string>
		<string>com.apple.TVSystemUIService</string>
		<string>com.apple.springboard</string>
		<string>com.apple.Accessibility</string>
		<string>com.apple.mediaaccessibility</string>
		<string>com.apple.PineBoardServices</string>
	</array>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.system.diagnostics.iokit-properties</key>
	<true/>
	<key>com.apple.systemstatus.domains</key>
	<array>
		<string>media</string>
		<string>location</string>
	</array>
	<key>com.apple.telephonyutilities.callservicesd</key>
	<array>
		<string>access-calls</string>
		<string>modify-calls</string>
	</array>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
	</array>
</dict>
</plist>
